
<div class="row shadow">
  <div class="col-sm-4 p-0">
    <div class="card">
      <div class="card-img-wrapper">
        <img *ngIf="property.Image" class="card-img-top" src="assets/images/{{property.Image}}.png">
        <img *ngIf="!property.Image" class="card-img-top" src="assets/images/house_default.png">
      </div>
      <div class="card-body">
        <h1 class="card-title">{{property.Name}}</h1>
        <div>
            <strong>{{property.PType}}:</strong> {{property.BHK}} ოთახი  <strong> <br>
              ფასი:</strong> {{property.Price}}$
        </div>
        <div>
           <strong>ქალაქი: </strong>{{property.City}}
        </div> <hr>
        <div>
            <strong>ფართი </strong>
            {{property.BuiltArea}} კვ.მ
        </div>

        <div>
            <strong>სამზარეულო: </strong>
            {{property.CarpetArea}} კვ.მ
        </div>
        <div>
            <strong>რემონტი: </strong>
            {{property.FType}}
        </div>
      </div>
      <div class="card-footer">
        <div class="btn-group d-flex">
          <button class="btn btn-primary">მოწონება</button>
          <button class="btn btn-success">შეტყობინება</button>
        </div>
      </div>
  </div>
  </div>
  <div class="col-sm-8 p-0">
    <div class="tab-panel p-3">
      <tabset class="member-tabset">
        <tab heading="მიმოხილვა">
          <h1>მიმოხილვა</h1>
          <div class="row">
              <div class="col-sm-6">
                  <div class="heading">
                      <strong>პროექტის სახელი</strong>
                      <p>{{property.Name}}</p>
                  </div>

                  <div class="heading">
                      <strong>სართული</strong>
                      <p>{{property.FloorNo}}</p>
                  </div>

                  <div class="heading">
                      <strong>ბინის წლოვანება</strong>
                      <p>{{property.AOP}}</p>
                  </div>

                  <div class="heading">
                      <strong>პოზიცია</strong>
                      <p>{{property.Possession}}</p>
                  </div>
              </div>

              <div class="col-sm-6">
                  <div class="heading">
                      <strong>მთავარი შესასვლელი</strong>
                      <p>{{property.MainEntrance}}</p>
                  </div>

                  <div class="heading">
                      <strong>მეზობელი</strong>
                      <p>{{property.Gated}}</p>
                  </div>

                  <div class="heading">
                      <strong>დაცვის გადასახადი</strong>
                      <p>{{property.Security}}</p>
                  </div>
                  <div class="heading">
                      <strong>მომსახურეობა</strong>
                      <p>{{property.Maintenance}}</p>
                  </div>
              </div>
              <div class="col-sm-12">
                  <div class="heading">
                      <strong>ბინის შესახებ</strong>
                      <p>{{property.Description}}</p>
                  </div>
              </div>
            </div>
        </tab>
        <tab heading="მისამართი">
          <div class="col-sm-12">
            <h1>მისამართი</h1>
            <div class="heading">
              <strong> ქუჩა: </strong> {{property.Address}}<br/>
                <strong>სახლის ნომერი: </strong> {{property.Address2}} <br/>
                <strong>ქალაქი:</strong> {{property.City}}
            </div>
        </div>

        </tab>
        <tab heading="სურათები">
          <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
        </tab>
        <tab heading="კონტაქტი">
          <h1>საკონტაკტო ინფორმაცია</h1>
          ეს ინფორმაცია ხელმისაწვდომია მხოლოდ დარეგისტრირებული მომხმარებლისათვის
        </tab>
      </tabset>
    </div>
  </div>
</div>
