<div class="row mb-5">
  <div class="col-md-8 col-sm-7  shadow-lg p-0 bg-white">
    <div class="card">
      <div class="card-header">
        <h3>განათავსე შენი განცხადება</h3>
      </div>
      <div class="card-body">
        <form (ngSubmit)='onSubmit()' [formGroup]="addPropertyForm">
          <div class="tab-panel">
            <tabset class="member-tabset" #formTabs>
              <tab heading="ძირითადი ინფორმაცია" formGroupName="BasicInfo" >
                <div class="form-group col-12">
                <p>მე მსურს </p>
                  <div class="btn-group"
                  btnRadioGroup
                  formControlName="SellRent">
                    <label class="btn btn-outline-primary mr-2"
                    btnRadio=1 tabindex="0" role="button" name="SellRent">გაყიდვა</label>
                    <label class="btn btn-outline-primary"
                    btnRadio=2  tabindex="0" role="button" name="SellRent">გაქირავება</label>
                  </div>
                  <div class="error-block" *ngIf="SellRent.invalid && nextClicked">
                    გთხოვთ აირჩიოთ ქირა ან გაყიდვა
                  </div>
                </div>

                <div class="form-group col-12">
                  <p>ოთახები</p>
                  <div class="btn-group" btnRadioGroup
                  formControlName="BHK"
                  [(ngModel)]="propertyView.BHK" name="BHK">
                    <label
                      *ngFor="let bhk of [1,2,3,4]"
                      class="btn btn-outline-primary mr-2"
                      [btnRadio]="bhk" tabindex="0" role="button"
                      name="BHK">
                      {{bhk}}
                    </label>
                  </div>
                  <div class="error-block" *ngIf="BHK.invalid && nextClicked">
                    გთხოვთ აირჩიოთ ოთახების რაოდენობა
                  </div>
                </div>

                <div class="form-group col-12">
                  <p>საცხოვრებლის ტიპი</p>
                  <div class="btn-group" btnRadioGroup
                  formControlName='PType'
                  [(ngModel)]="propertyView.PType">
                    <label
                    *ngFor="let ptype of propertyTypes"
                    class="btn btn-outline-primary mr-2"
                    [btnRadio]="ptype" tabindex="0" role="button"
                    name="PropType">{{ptype}}
                  </label>
                  </div>
                  <div class="error-block" *ngIf="PType.invalid && nextClicked">
                    გთხოვთ აირჩიოთ საცხოვრებლის ტიპი
                  </div>
                </div>

                <div class="form-group col-12">
                  <p>ბინის მდგომარეობა</p>
                  <div class="btn-group" btnRadioGroup
                  formControlName="FType"
                  [(ngModel)]="propertyView.FType">
                  <label
                    *ngFor="let ftype of furnishTypes"
                    class="btn btn-outline-primary mr-2"
                    [btnRadio]="ftype" tabindex="0" role="button"
                    name="FurnishType">
                    {{ftype}}
                  </label>
                  </div>
                  <div class="error-block" *ngIf="FType.invalid && nextClicked">
                    გთხოვთ აირჩიოთ რემონტის ტიპი
                  </div>
                </div>

                <div class="form-group col-12">
                  <label>იტალიური ეზო/საერთო საცხოვრებელი/დამოუკიდებელი</label>
                  <input type="text" class="form-control"
                  ngModel
                  formControlName="Name"
                  [(ngModel)]="propertyView.Name">
                  <div class="error-block"
                  *ngIf="Name.invalid && (nextClicked || Name.touched)">
                    აუცილებელია საცხოვრებლის ტიპის არჩევა
                  </div>
                </div>

                <div class="form-group col-12">
                  <label>ქალაქი</label>
                  <select
                  class="form-control"
                  formControlName="City"
                  [(ngModel)]="propertyView.City">
                  <option  value="">--ქალაქის არჩევა--</option>
                  <option *ngFor="let city of cityList" value={{city.id}}>
                    {{ city.name }}
                  </option>
                  </select>
                  <div class="error-block"
                  *ngIf="City.invalid && (nextClicked || City.touched)">
                    გთხოვთ აირჩიოთ ქალაქი
                  </div>
                </div>

                <div class="form-group col-12">
                    <button type="button"
                    class="btn btn-primary btn-block"
                    (click)="selectTab(1, BasicInfo.valid)">შემდეგი</button>
                </div>
              </tab>

              <tab heading="ფასი/ფართი" formGroupName="PriceInfo">
                  <div class="form-group col-12">
                    <label *ngIf="SellRent.value==1">ფასი ($)</label>
                    <label *ngIf="SellRent.value==2">ქირა (in USD)</label>
                    <input type="text" class="form-control"
                    formControlName="Price"
                    [(ngModel)]="propertyView.Price">
                    <div class="error-block"
                    *ngIf="Price.invalid && (nextClicked || Price.touched)">
                       გთხოვთ შეიყვანოთ
                      <span *ngIf="SellRent.value==1;else ShowRent">ფასი</span>
                      <ng-template #ShowRent>ქირა</ng-template>
                    </div>
                  </div>

                  <div *ngIf="SellRent.value==2">
                    <div class="form-group col-12">
                      <label>Security (in USD)</label>
                      <input type="text"
                      formControlName="Security"
                      class="form-control">
                    </div>

                    <div class="form-group col-12">
                      <label>Maintenance (in USD)</label>
                      <input type="text"
                      formControlName="Maintenance"
                      class="form-control">
                    </div>
                  </div>

                  <div class="form-group col-12">
                    <label>ბინის საერთო ფართი (კვ.მ)</label>
                    <input type="text"
                    class="form-control"
                    [(ngModel)]="propertyView.BuiltArea"
                    formControlName="BuiltArea">
                    <div class="error-block"
                    *ngIf="BuiltArea.invalid && nextClicked">
                      გთხოვთ შეიყვანოთ ბინის საერთო ფართის მოცულობა
                    </div>
                  </div>

                  <div class="form-group col-12">
                    <label>სამზარეულოს მოცულობა (კვ.მ)</label>
                    <input type="text"
                    formControlName="CarpetArea"
                    class="form-control">
                  </div>

                  <div class="form-group col-12">
                    <button type="button" class="btn btn-primary btn-block"
                    (click)="selectTab(2, PriceInfo.valid)">შემდეგი</button>

                    <button type="button" class="btn btn-primary btn-block"
                    (click)="selectTab(0, PriceInfo.valid)">უკან</button>
                  </div>
              </tab>

              <tab heading="მისამართი" formGroupName="AddressInfo">

                <div class="form-group col-12">
                  <label>სართული</label>
                  <input type="text"
                  formControlName="FloorNo"
                  class="form-control">
                </div>

                <div class="form-group col-12">
                  <label>სულ სართულები</label>
                  <input type="text"
                  formControlName="TotalFloor"
                  class="form-control">
                </div>

                <div class="form-group col-12">
                  <label>მისამართი</label>
                  <input type="text"
                  class="form-control"
                  formControlName="Address">
                  <div class="error-block"
                  *ngIf="Address.invalid && (nextClicked || Address.touched)">
                    გთხოვთ შეიყვანოთ მისამართი
                  </div>
                </div>

                <div class="form-group col-12">
                  <label>სახლის  ნომერი</label>
                  <input type="text"
                  formControlName="LandMark"
                  class="form-control">
                </div>

                <div class="form-group col-12">
                  <button type="button" class="btn btn-primary btn-block"
                  (click)="selectTab(3, AddressInfo.valid)">შემდეგი</button>

                  <button type="button" class="btn btn-primary btn-block"
                  (click)="selectTab(1, AddressInfo.valid)">უკან</button>
                </div>
              </tab>

              <tab heading="სხვა დეტალები" formGroupName="OtherInfo">
                <div class="form-group col-12">
                  <p>მზად არის საცხოვრებლად</p>
                  <div class="btn-group" btnRadioGroup
                  formControlName="RTM">
                    <label class="btn btn-outline-primary mr-2"
                      btnRadio=1 tabindex="0" role="button"
                      name="RTM">დიახ
                    </label>
                    <label class="btn btn-outline-primary"
                      btnRadio=2  tabindex="0" role="button" name="RTM">არა
                    </label>
                  </div>
                  <div class="error-block" *ngIf="RTM.invalid && nextClicked">
                    გთხოვთ აირჩიოთ ბინა მზად არის თუ არა საცხოვრებლად
                  </div>
                </div>


                <div
                *ngIf="RTM.value==2"
                class="form-group col-6">
                  <label>ბინა მზად იქნება (რიცხვი)</label>
                  <input type="text"
                  class="form-control"
                  formControlName="PossessionOn"
                  bsDatepicker
                  [bsConfig]="{containerClass: 'theme-dark-blue',
                  dateInputFormat: 'DD-MM-YYYY'}">
                </div>

                <div
                *ngIf="RTM.value==1"
                class="form-group col-3">
                  <label>ბინის წლოვანება</label>
                  <input type="text"
                  formControlName="AOP"
                  class="form-control">
                </div>

                <div class="form-group col-12">
                  <p>მეზობელი სართულზე</p>
                  <div class="btn-group"
                  btnRadioGroup
                  formControlName="Gated">
                    <label class="btn btn-outline-primary mr-2"
                    btnRadio=1 tabindex="0" role="button" name="Gated">დიახ</label>
                    <label class="btn btn-outline-primary"
                    btnRadio=2  tabindex="0" role="button" name="Gated">არა</label>
                  </div>
                </div>

                <div class="form-group col-12">
                  <p>მთავარი შესასვლელი</p>
                  <div class="btn-group" btnRadioGroup
                  formControlName="MainEntrance">
                    <label class="btn btn-outline-primary mr-2"
                    btnRadio=1 tabindex="0" role="button" name="Entrance">აღმოსავლეთი</label>
                    <label class="btn btn-outline-primary"
                    btnRadio=2  tabindex="0" role="button" name="Entrance">დასავლეთი</label>
                    <label class="btn btn-outline-primary"
                    btnRadio=3  tabindex="0" role="button" name="Entrance">სამხრეთი</label>
                    <label class="btn btn-outline-primary"
                    btnRadio=4  tabindex="0" role="button" name="Entrance">ჩრდილოეთი</label>
                  </div>
                </div>

                <div class="form-group col-12">
                  <label>აღწერა</label>
                  <textarea type="text"
                  class="form-control"
                  formControlName="Description"
                  rows="6"></textarea>
                </div>

                <div class="form-group col-12">
                    <button type="button" class="btn btn-primary btn-block"
                    (click)="selectTab(4, OtherInfo.valid)">შემდეგი</button>

                    <button type="button" class="btn btn-primary btn-block"
                    (click)="selectTab(2, OtherInfo.valid)">უკან</button>
                </div>
              </tab>

              <tab heading="სურათები">
                <div class="form-group col-12">
                  <div class="photo-control">
                      <button class="mt-5" type="button">ატვირთვა</button> <br>
                      მზადების პროცესშია
                  </div>
                </div>
                <div class="form-group col-12">
                  <button type="button" class="btn btn-primary btn-block"
                  (click)="selectTab(3, true)">უკან</button>
                  <button type="submit" class="btn btn-primary btn-block">შენახვა</button>
                  <button type="reset" class="btn btn-primary btn-block">გაუქმება</button>
                </div>
              </tab>
            </tabset>
          </div>
        </form>
      </div>
  </div>
  </div>
  <div class="col-md-4 col-sm-5">
    <div class="card-header">
      <h3>Your Property Preview</h3>
    </div>
    <div class="shadow-lg p-3 bg-white">
      <app-property-card [property]="propertyView" hideIcons="true"></app-property-card>
    </div>
  </div>
</div>
