<label>მოძებნე ქალაქი: &nbsp;</label>
<input [(ngModel)]='City'>
<button type="button" (click)="onCityFilter()">ძებნა</button>
<button type="button" (click)="onCityFilterClear()">გასუფთავება</button>

<label>დალაგება: &nbsp;</label>
<select [(ngModel)] = 'SortbyParam'>
 <option value="City">ქალაქი</option>
 <option value="Price">ფასი</option>
</select>
<button type="button" (click)="onSortDirection()">
  <i *ngIf="SortDirection ==='asc'" class="fas fa-sort-alpha-down"></i>
  <i *ngIf="SortDirection ==='desc'" class="fas fa-sort-alpha-up"></i>
</button>

<div class="row">
  <div *ngFor="let property of properties|filter:SearchCity:'City'|sort:[SortbyParam,SortDirection]"
    class="shadow-lg col-sm-4">
    <app-property-card [property]="property"></app-property-card>
  </div>
</div>
