<div class="row">
  <div class="col-6 m-auto">
  <div class="card m-auto">
    <div class="card-header">
    <h1>
      რეგისტრაცია
    </h1>
    </div>
    <div class="card-body">
      <form [formGroup]="registerationForm" (ngSubmit)="onSubmit()">
        <div class="form-group col-12">
            <label for="name" class="form-label">სახელი</label>
            <input type="text" class="form-control" formControlName="userName">
            <span class="error-block" *ngIf="!userName.valid && (userName.touched || userSubmitted)">
            გთხოვთ შეიყვანეთ სახელი
            </span>
        </div>

        <div class="form-group col-12">
          <label for="email" class="form-label">ელ-ფოსტა</label>
          <input type="text" class="form-control" formControlName="email">
          <span *ngIf="!email.valid && (email.touched || userSubmitted)" class="error-block">
            <span *ngIf="!email.hasError('required')">
              გთხოვთ შეიყვანეთ ელ-ფოსტა
            </span>
            <span *ngIf="!email.hasError('email')">
              გთხოვთ შეიყვანეთ მოქმედი ელ-ფოსტა
            </span>
          </span>
        </div>

        <div class="form-group col-12">
          <label for="passwrod" class="form-label">პაროლი</label>
          <input type="password" class="form-control" formControlName="password">
          <span *ngIf="!password.valid && (password.touched && userSubmitted)" class="error-block">
          <span *ngIf="password.errors['required']">
           გთხოვთ შეიყვანეთ პაროლი
          </span>
          <span *ngIf="password.errors.minlength">
           პაროლი უნდა შედგებოდეს {{ password.errors.minlength.requiredLength }}-ზე ნაკლები ასოსაგან
          </span>
          </span>
        </div>

        <div class="form-group col-12">
          <label for="cpassword" class="form-label">გაიმეორეთ პაროლი</label>
          <input type="password" class="form-control"  formControlName="confirmPassword">
          <span *ngIf="!confirmPassword.valid && (confirmPassword.touched || userSubmitted)" class="error-block">
          <span *ngIf="confirmPassword.hasError('required')">
            გთხოვთ გაიმეორეთ პაროლი
          </span>
          </span>
          <span *ngIf="registerationForm.hasError('notmatched') && confirmPassword.valid" class="error-block">
            პაროლები არ ემთხვევა
          </span>
        </div>

        <div class="form-group col-12">
          <label for="mobile" class="form-label">მობილური</label>
          <input type="text" class="form-control" formControlName="mobile">
          <span *ngIf="!mobile.valid && (mobile.touched || userSubmitted)" class="error-block">
          <span *ngIf="mobile.hasError('required')">
           გთხოვთ შეიყვანეთ მობილურის ნომერი
          </span>
          <span *ngIf="mobile.hasError('maxlength')">
            მობილურის ნომერი უნდა იყოს ნაკლები {{ mobile.errors.maxlength.requiredLength }} რიცხვზე
           </span>
          </span>
        </div>

        <div class="form-group col-12">
          <button type="submit" class="btn btn-primary">შენახვა</button>
          <button type="reset" class="btn btn-secondary ml-2">გაუქმება</button>
        </div>
      </form>
    </div>
  </div>
  </div>
</div>
